body{
  display:flex;
  flex-wrap:wrap;
}

.box{
  width:100px;
  height:100px;
  background-color:#000;
  cursor:pointer;
  transition:0.8s;
  margin:0 8px 8px 0;
  text-align:center;
  line-height:100px;
}

.win{
  background-color: aqua;
  transform:rotate(360deg);
  border-radius:50%;
}

.lose{
  background-color:dimgray;
  transform:scale(0.9);
}